doctype html
html
  head
    title mab-popup
    link(rel="stylesheet" href="./css/main.css")/
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css")/
  body
    section.test-section#pop.darkOverlayOn(data-modal-animation-out="bounceOutUp" data-modal-animation="slideInDown")
      h1 Hello There
      img(src="https://78.media.tumblr.com/7eeb885bc882641721d56ba96a145247/tumblr_ofo51e0FqV1uawhibo4_500.gif")
      button.actionButton(data-modal="pop" data-modal-out="pop") Nope
    button.show-me-pop.actionButton(data-modal="pop") Show me THE magic!
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="./js/mab-popup.js")
